
name: CI

on:
  push:
    branches:
      - "cicd_408739"

  pull_request:
    branches:
      - "cicd_408739"
  workflow_dispatch:
jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install python
        uses: actions/setup-python@v3
        with:
          python-version: "3.12"
          architecture: x64
      - name: CICD tests
        run: |
          python -m unittest "circle.py"
          python -m unittest "triangle.py"
          python -m unittest "rectangle.py"
          python -m unittest "square.py"
  build_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install python
        uses: actions/setup-python@v3
        with:
          python-version: 3.12
          architecture: x64
      - name: CICD tests
        run: |
          python -m unittest "circle.py"
          python -m unittest "triangle.py"
          python -m unittest "rectangle.py"
          python -m unittest "square.py"
